<div id="hero" class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden"
     style="background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
              radial-gradient(77.36% 256.97% at 77.36% 57.52%, #EEEFAF 0%, #C3E3FA 100%); clip-path: ellipse(150% 87% at 93% 13%);">
    <div class="mx-4 md:mx-8 mt-0 md:mt-4">
        <h1 class="text-6xl font-bold text-gray-900 line-height-2">
            <span class="font-light block">Üdvözöljük a </span>Biozuglo.hu-n!</h1>
        <h2 class="font-normal text-2xl line-height-3 md:mt-3 text-gray-700">
            Fedezze fel a természet erejét CBD termékeink segítségével! Webshopunkban széles választékban
            kínálunk kiváló minőségű CBD olajokat, krémeket és egyéb wellness termékeket </h2>
        <button pButton pRipple type="button"
                label="Termékeink"
                (click)="router.navigate(['/shop'])"
                class="p-button-rounded text-xl border-none mt-3 bg-blue-500 font-normal line-height-3 px-3 text-white"
        ></button>
    </div>
    <div class="flex justify-content-center md:justify-content-end">
        <img src="image1.png" alt="Hero Image" class="w-9">
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-dataView #dv [value]="products"
                        [paginator]="true"
                        [rows]="9" filterBy="name"
                        [sortField]="sortField"
                        [sortOrder]="sortOrder"
                        layout="grid">

                <ng-template let-products pTemplate="gridItem">
                    <div class="grid grid-nogutter">
                        <div class="col-12 md:col-4" *ngFor="let product of products">
                            <div class="card m-3 border-1 surface-border">
                                <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
                                    <div class="flex align-items-center">
                                        <i class="pi pi-tag mr-2"></i>
                                        <span class="font-semibold">{{product.category}}</span>
                                    </div>
                                </div>
                                <div class="flex flex-column align-items-center text-center mb-3">
                                    <img [src]="'assets/demo/images/product/' + product.image"
                                         [alt]="product.name" class="w-9 shadow-2 my-3 mx-0"/>
                                    <div class="text-2xl font-bold">{{product.name}}</div>
                                    <div class="mb-3">{{product.description}}</div>

                                </div>
                                <div class="flex align-items-center justify-content-between">
                                    <span class="text-2xl font-semibold">{{product.price}} €</span>
                                    <p-button icon="pi pi-shopping-cart"
                                              (click)="addToCart(product.id)"
                                              [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                                    <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>
</div>
